<body>
    <!-- Sidenav -->
    <%- include ('../partials/sidebar') %>
    <!-- Main content -->
    <div class="main-content">
      <!-- Top navbar -->
      <%- include ('../partials/navbar') %>
      <!-- Header -->
      <%- include ('../partials/header') %>
      <!-- Page content -->
      <div class="container-fluid mt--7">
            <!-- Table -->
            <!-- Dark table -->
            <div class="row mt-5">
            <div class="col mt-7">
                <div class="card bg-default shadow">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="text-white mb-0" ><a href="/users">Users</a> / Views User Detail</h3>
                    </div>   
                </div>
                <br>
                <div id="formdata"></div>
                     
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form" id="viewUserForm">
                        <div class="form-group">
                            <label for="Id"><b>Id:</b></label>
                            <span class="mb-0 text-sm"><%= data.id %></span>
                            <div style="width: 50%; float: right;" >
                                <img src="http://192.168.42.80:3000/img/theme/<%= data.profile %>" alt="profile"  width="193" height="130">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname"><b>FirstName:</b></label>
                            <span class="mb-0 text-sm"><%= data.firstName %></span>
                        </div>
                        <div class="form-group">
                            <label for="lastname"><b>LastName:</b></label>
                            <span class="mb-0 text-sm"><%= data.lastName %></span>
                        </div>
                        <div class="form-group">
                            <label for="email"><b>Email:</b></label>
                            <span class="mb-0 text-sm"><%= data.email %></span>
                        </div>
                        <div class="form-group" id="gender">
                            <label for="gender"><b>Gender:</b></label>
                            <span class="mb-0 text-sm"><%= data.gender %></span>
                        </div>
                        <div class="form-group">
                            <label for="birthday"><b>Birthdate:</b></label>
                            <span class="mb-0 text-sm" id="date"><%= data.birthdate %></span>
                        </div>
                        <div class="form-group">
                            <label for="created"><b>createdAt:</b></label>
                            <span class="mb-0 text-sm"><%= data.createdAt %></span>
                        </div>
                        <div class="form-group">
                            <label for="updated"><b>updatedAt:</b></label>
                            <span class="mb-0 text-sm"><%= data.updatedAt %></span>
                        </div>
                        <div class="form-group">
                            <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item mr-2 mr-md-4" >
                                    <a class="nav-link py-2 px-3 active" href="/users/editUser/<%= data.id %>">
                                        <span class="d-none d-md-block">Edit</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link py-2 px-3 active" href="/users">
                                        <span class="d-none d-md-block">back</span>
                                    </a>
                                </li>
                            </ul>            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include ('../partials/footer') %>
      </div>
    </div>
  
    <!-- Include scripts -->
    <%- include ('../partials/scripts') %>
  </body>
  