<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var loginId = localStorage.getItem('adminID')
    $(document).ready(function(){
        $(".delete").on('click',(function(e){
            $target =  $(e.target);
            var id = $target.attr('user-id');
            $.ajax({
                url: '/api/blog/'+id+'/'+loginId,
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                success: function(response){
                    console.log(response);
                    // window.location = '/blog';
                },
                error: function(err){
                    console.log(err);
                }
            });
        }));
    }); 
</script>
<body>
<!-- Sidenav -->
<%- include ('../partials/sidebar') %>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <%- include ('../partials/navbar') %>
    <!-- Header -->
    <%- include ('../partials/header') %>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <!-- Table -->
        <!-- Dark table -->
        <div class="row mt-5">
        <div class="col mt-7">
            <div id="data"></div>

            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-4" >
                    <div class="btn-wrapper text-center" >
                        <!-- "nav-link py-2 px-3 active" -->
                        <a href="/blog/addblog" class='btn btn-neutral btn-icon' style="background-color: #4A69F2;">
                            <!-- <i class="ni ni-fat-add">Add User</i> -->
                            <span class="btn-inner--text" style="color: black;">+ Add Blog</span>
                            <!-- <span class="d-md-none">M</span> -->
                        </a>
                    </div>
                </li>
            </ul>
            <br>
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Blog Details</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-light table-flush">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Publish_date</th>
                    <th scope="col">Created_by</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% user.forEach(function(users) {  %>
                        <tr>
                        <td scope="row">
                            <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm"><%= users.id %></span>
                            </div>
                            </div>
                        </td>
                        <th scope="row">
                            <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm"><%= users.title %></span>
                            </div>
                            </div>
                        </th>
                        <th scope="row">
                            <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm"><%= users.description %></span>
                            </div>
                            </div>
                        </th>
                        <td scope="row">
                            <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm"><%= users.publish_date %></span>
                            </div>
                            </div>
                        </td>
                        <td scope="row">
                            <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm"><%= users.created_by %></span>
                            </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item edit" href="">Edit</a>
                                <a class="dropdown-item delete" href= "" user-id="<%= users.id %>">Delete</a>
                                <a class="dropdown-item" href="">Info</a> 
                            </div>
                            </div>
                        </td>
                        </tr>
                        <% }) %>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    <!-- Footer -->
    <%- include ('../partials/footer') %>
    </div>
</div>

<!-- Include scripts -->
<%- include ('../partials/scripts') %>
</body>
